
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				
			</div>
		</footer>
	</div>
	<script src="./../vendor/jquery/jquery.min.js"></script>
	<script src="./../vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="./../vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="./../vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="./../vendor/chartist/js/chartist.min.js"></script>
	<script src="./../scripts/klorofil-common.js"></script>
</body>
</html>
