<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="/admin" class=""><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                <li><a href="/admin/articleList" class=""><i class="lnr lnr-cloud"></i> <span>分类管理</span></a></li>
                <li><a href="/admin/articleList" class=""><i class="lnr lnr-star"></i> <span>文章管理</span></a></li>
                <li><a href="/admin/position" class=""><i class="lnr lnr-select"></i> <span>推荐位管理</span></a></li>
                <li><a href="/admin/comment" class=""><i class="lnr lnr-bookmark"></i> <span>评论管理</span></a></li>
                <li><a href="/admin/user" class=""><i class="lnr lnr-user"></i> <span>用户管理</span></a></li>
                <li><a href="/admin/common" class=""><i class="lnr lnr-dice"></i> <span>系统设置</span></a></li>
            </ul>
        </nav>
    </div>
</div>