<% include ./common/header.ejs %> 
<% include ./common/sidebar.ejs %> 
<div class="main">
	<div class="main-content">
		<div class="container-fluid">
            <h3 class="page-title">添加文章</h3>
				<div class="panel">
					<div class="panel-body panel-pt">
						<form method="post"  class="form">
							<div class="input-group w600">
								<span class="input-group-addon w80">文章标题</span>
								<input name="title"  placeholder=""   class="form-control " type="text">
							</div>
							<br>
							<div class="input-group w600">
								<span class="input-group-addon w80">选择分类</span>
								<select type="text" name="type" class="form-control" >
									<option value="1">科技<option>
								</select>
							</div>
							<br>
							<input type="file" value="" name="thumb"  >
							<br>
							<div class="input-group w600">
								<span class="input-group-addon w80"> 文章来源 </span>
								<input type="text" name="copyfrom" class="form-control"  value="本站" placeholder="" >
							</div>
							<br>
							<div class="input-group w600">
								<span class="input-group-addon w80"> 关键字 </span>
								<input type="text" name="keywords" class="form-control"  value="" placeholder="" >
							</div>
							<br>
							<div class="input-group w600">
								<span class="input-group-addon w80"> 描述 </span>
								<input type="text" name="description"  class="form-control" placeholder="" >
							</div>
							<br>
							<div class="input-group w600">
								<span class="input-group-addon w80"> 访问次数 </span>
								<input type="text" name="count"  class="form-control" placeholder="" >
							</div>
							<br>
							<div class="input-group w600">
								<span class="input-group-addon w80"> 文章作者 </span>
								<input type="text" name="author"  class="form-control" placeholder="" >
							</div>
							<br>
							<textarea  id="myEditor"  style="height:300px;" name="content" class="form-control" placeholder="文章内容"></textarea>
							<br>
							<button id="btn" class="btn btn-primary">确定</button>
						</form>
					</div>
			</div>
		</div>
	</div>
</div>
<% include ./common/footer.ejs %>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<link href="./../vendor/umeditor-1.2.3/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="./../vendor/umeditor-1.2.3/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./../vendor/umeditor-1.2.3/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="./../vendor/umeditor-1.2.3/_examples/editor_api.js"></script>

<script>
$(function(){
	UM.getEditor('myEditor')
	var $btn =  $("#btn");
	$btn.click(function(){
		$.ajax({
			url:'/admin/postAddArticle',
			data:$('.form').serialize(),
			type:'post',
			cache:false,
			dataType:"json",
			success:function(data){
				alert(data.message)
			}
		})
		return false;
	})
})
</script>