<% include ./common/header.ejs %> 
<% include ./common/sidebar.ejs %> 

<div class="main">
	<div class="main-content">
		<div class="container-fluid">
			<div class="panel panel-headline">
				<div class="panel-heading">
					<h3 class="panel-title">后台管理首页</h3>
				</div>
				<div class="panel-body">


				</div>
			</div>
		</div>
	</div>
</div>

<% include ./common/footer.ejs %> 