<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="form"  method="post" >
        <input type="text" name="username" >
        <input type="password" name="password">
        <input type="button" id="btn" name ="subLogin" value="登陆">
    </form>
</body>
</html>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script>

    $(function(){
       var $btn =  $("#btn");
       $btn.click(function(){
            
            $.ajax({
                url:'/login',
                data:$('.form').serialize(),
                type:'post',
                cache:false,
                dataType:"json",
                success:function(data){
                    console.log(data)
                }


            })



       })



    })

</script>